/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
body {
  font-family: Verdana, sans-serif;
}
#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.taskField .calendarField {
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-row: 1;
}
.taskField {
  grid-column: 1/2;
}

.calendarField {
  grid-column: 2/3;
}

.taskActionType {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.taskParameters {
  padding-left: 20%;
}

/* Calendar header */
.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.monthYear {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation buttons */
.prevMonth,
.nextMonth {
  border: none;
  cursor: pointer;
}

.prevMonth:hover,
.nextMonth:hover {
  color: rgb(2, 7, 6);
}
ul {
  list-style-type: none;
}

.weekdays {
  width: 770px;
  display: inline-block;
  margin-bottom: 10px;
}

tbody {
  width: 100%;
}
td {
  width: 110px;
  text-align: center;
}
tr {
  height: 40px;
}
.weekdaysName {
  font-weight: bold;
}

.normal:hover {
  background-color: rgb(59, 97, 141);
}

.notCurrentMonth {
  color: #c0c0c0;
}

.today {
  font-weight: 700;
  color: rgb(218, 27, 27);
  font-size: 1.5em;
}

