/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
body {
  font-family: Verdana, sans-serif;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.calendar-field {
  grid-column: 2/3;
}

.task-field .calendar-field {
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  grid-row: 1;
}

.task-field {
  grid-column: 3/3;
}

.task-action-type {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.task-parameters {
  padding-left: 20%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.month-year {
  font-size: 24px;
  font-weight: bold;
}

.prev-month,
.next-month {
  border: none;
  cursor: pointer;
}

.prev-month:hover,
.next-month:hover {
  color: rgb(2 7 6);
}

ul {
  list-style-type: none;
}

.weekdays {
  width: 770px;
  display: inline-block;
  margin-bottom: 10px;
}

tbody {
  width: 100%;
}

td {
  width: 110px;
  text-align: center;
}

tr {
  height: 40px;
}

.weekdays-name {
  font-weight: bold;
}

.normal:hover {
  background-color: rgb(59 97 141);
}

.not-current-month {
  color: #c0c0c0;
}

.today {
  font-weight: 700;
  color: rgb(218 27 27);
  font-size: 1.5em;
}

.task-ex {
  background-color: rgb(216 121 58);
}

.task-list-view {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.task-list-box {
  text-align: center;
  overflow-y: scroll;
  height: 500px;
}

.task-filter-view {
  text-align: center;
}

.task-filtered {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: rgb(58 216 71);
}

